
@tailwind base;
@tailwind components;
@tailwind utilities;

.shine {
  position: absolute;
  top: -80%;
  left: -200%;
  width: 250%;
  height: 250%;
  background: linear-gradient(
    120deg,
    transparent 40%,
    rgba(187, 104, 226, 0.452), /* 👈 apenas más brillo */
    transparent 60%
  );
  filter: blur(20px);
  animation: shine-move 3s linear infinite;
}

@keyframes shine-move {
  0% {
    left: -200%;
    top: -80%;
  }
  100% {
    left: 200%;
    top: 80%;
  }
}
